<%= render "navbar" %>

<h1> New Creature Form</h1>

<%= form_for @creature do |f| %>
  <%= f.text_field :name, placeholder: "Creature Name", class: "form-control" %> <br><br>
  <%= f.text_area :description, placeholder: "Creature Description", class: "form-control" %>
  <%= f.submit "Save Creature", class: "btn btn-default" %>
<% end %>
